.amazon-button {
  background-color: rgb(238, 241, 47);
  border: none;
  border-radius: 20px;;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.amazon-button:hover {
  background-color: rgb(243, 190, 16);
}
