.github-button {
  background-color: rgb(61, 155, 53);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 1s, 
    opacity 1s;
}

.github-button:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20);
}
