.close-button {
  position: absolute;
  background-color: black;
  color: white;
  padding: 8px 10px;
  border-radius: 20px;
  top: 10px;
  right: 10px;
  border: none;
}

.close-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

body {
  height: 3000px;
}
