.text-box-shadow {
  width: 500px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 40px;
  border-radius: 40px;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-left: 20px;
}
