p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.profile {
  width: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.0);
  display: inline-block;
  border-radius: 15px;
  margin-right: 15px;
}

.profile-picture {
  width: 300px;
  border-radius: 15px;
  object-fit: cover;
  height: 300px;
  margin-bottom: 12px;
}

.name {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.mutual-friends {
  color: rgb(124, 124, 124);
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.add-friend-button {
  background-color: rgb(25, 113, 201);
  color: whitesmoke;
  padding: 15px 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

.add-friend-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile2 {
  display: inline-block;
}